<!-- MENU -->
              <div class="container-fluid">
                <div class="row bg">
                  <div class="col-lg-12 navbar">
                    <div class="col-md-5">
                      <div class="leftNavBar"><center> <a href="/"> HOME </a>  <a href="/wasstraat"> WASSTRAAT </a> <a href="/poetsen"> POETSEN </a></center></div>
                      </div>
                    <div class="col-md-2">
                      <center><img id="logo-header" src="images/LOGOWASDAG.svg"></center>
                    </div>
                    <div class="col-md-5">
                    <div class="rightNavBar"><center> <a href="/actie"> ACTIE </a>  <a href="/vestigingen"> VESTIGINGEN </a> <a href="/contact"> CONTACT </a></center></div>
                  </div>
                    </div>
          <!-- EINDE MENU -->


<!-- BEGIN BANNER -->
<div class="col-lg-12">
  <center><div class="welkom"><h1 class="slogan">BEKIJK HIER ONZE VESTIGINGEN</h1><br><br><img style="width: 100%;" src="images/banner.jpg"></div></center>
</div>
<!-- EINDE BANNER -->

<!-- BEGIN CONTENT -->
<div class="col-lg-12">
  <div class="col-lg-8 height">
    <div class="content">
    <b>Als het op het verzorgen van uw auto aankomt, dan wilt u alleen het allerbeste. Bij de Wasdas delen wij die zorg. Dankzij onze investering in de beste apparatuur, kunnen wij uw auto de aandacht geven die hij verdient. De Wasdas vestigingen behoren tot de grootste, modernste en veiligste auto wascentra van Nederland.</b><br><br>

    Kwaliteit en service hebben we hoog in het vaandel staan. Dat ziet u niet alleen terug in onze uitermate geavanceerde apparatuur, dat merkt u ook aan de manier waarop ons personeel zich inzet voor het allermooiste resultaat.
Of u nu in Drachten, Emmen of Veendam komt, wij begrijpen hoe belangrijk uw auto voor u is.<br><br>

In veel plaatsen in Nederland is het inmiddels verboden om de auto zelf op straat te wassen, wegens de belasting op het milieu. Bij de Wasdas recyclen wij 90% van het gebruikte water en gebruiken we alleen maar milieuvriendelijke shampoo en wax. Het maakt niet uit of uw auto door onze textiel wasstraat gaat, voor een glanzend en krasvrij resultaat, of door u zelf onder handen wordt genomen in één van onze wasboxen: samen werken we aan een beter milieu.<br><br>

Op deze website staan onze diensten vermeld. We voorzien u graag van meer informatie,  advies of een offerte, indien u dat wenst. U kunt uw vragen telefonisch of per email aan ons kwijt. Even langskomen in Emmen, Drachten of Veendam kan natuurlijk ook, wel zo gezellig.

  </div>
  </div>

  <div class="col-lg-4 height">
    <div class="boxContent">
      <div class="panel panel-default red">
        <div class="panel-heading">
          <div class="panel-title tekst">Altijd voordelig wassen?</div>
        </div>
          <img class="displayfoto" src="images/2.jpg">
      </div>
    </div>

    <div class="boxContent">
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="panel-title tekst">Laad hier uw passaldo op</div>
        </div>
        <div class="panel-body waspas">
          <form style="width: 80%; height:auto; margin-left: 2%; margin-top: 1%;">
            <div class="form-group">
              <input class="teksttwo" type="email" placeholder="E-mailadres" class="form-control" id="email">
            </div>
            <div class="form-group">
              <input class="teksttwo" type="password" placeholder="Wachtwoord" class="form-control" id="pwd">
            </div>
            <button type="submit" class="btn btn-default buttontekst"><b>LOG IN</b></button>
          </form>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- EINDE CONTENT -->

<!-- BEGIN 3 BOXEN -->

<div class="col-lg-12">
  <div class="row fixen">
      <div id="panelFixed"><div class="col-md-4">
          <div class="panel panel-default lijn">
              <div class="panel-heading">
                  <h3 class="tekst"><center>PRIJZEN</center></h3>
              </div>
              <div class="panel-body1 lijn"></div>
              <img class="displayfoto" src="images/was1.jpg">
          </div>
      </div>
      <div class="col-md-4">
          <div class="panel panel-default lijn">
              <div class="panel-heading ">
                  <h3 class="tekst"><center>DOEKAUTOMAAT</center></h3>
              </div>
              <div class="panel-body2 lijn"></div>
              <img class="displayfoto" src="images/was2.jpg">
          </div>
      </div>
      <div class="col-md-4">
          <div class="panel panel-default lijn">
              <div class="panel-heading">
                  <h3 class="tekst"><center>STOFZUIGEN</center></h3>
              </div>
              <div class="panel-body3 lijn"></div>
              <img class="displayfoto" src="images/was3.jpg">
          </div>
      </div>
    </div>

<div class="col-md-12">
    <div class="footer">

      <div class="footer-logo">
        <img src="images/logowasdas.svg">
      </div>

      <div class="wasdas-adres">
        De Wasdas Veendam BV <br>
        Transportweg 80-82 <br>
        9645 KX Veendam <br><br>
        Tel:0598 621648 <br>
        Tel:0598 621646

      </div>

    </div>
</div>
