<!-- MENU -->
              <div class="container-fluid">
                <div class="row bg">
                  <div class="col-lg-12 navbar">
                    <div class="col-md-5">
                      <div class="leftNavBar"><center> <a href="/"> HOME </a>  <a href="/wasstraat"> WASSTRAAT </a> <a href="/poetsen"> POETSEN </a></center></div>
                      </div>
                    <div class="col-md-2">
                      <center><img id="logo-header" src="images/LOGOWASDAG.svg"></center>
                    </div>
                    <div class="col-md-5">
                    <div class="rightNavBar"><center> <a href="/actie"> ACTIE </a>  <a href="/vestigingen"> VESTIGINGEN </a> <a href="/contact"> CONTACT </a></center></div>
                  </div>
                    </div>
          <!-- EINDE MENU -->


<!-- BEGIN BANNER -->
<div class="col-lg-12">
  <center><div class="welkom"><h1 class="slogan">TEXTIEL WASSTRAAT,SOFT-TOUCH BORSTELS!</h1><br><br><img style="width: 100%;" src="images/banner.jpg"></div></center>
</div>
<!-- EINDE BANNER -->

<!-- BEGIN CONTENT -->
<div class="col-lg-12">
  <div class="col-lg-8 height">
    <div class="content">
    <b>Onze wasstraten kennen een lengte van 50 meter en zijn uitgerust met ultramoderne technieken. Modern, veilig en krasvrij. Eigenlijk kunnen we zeggen dat wij uw auto een behandeling van 50 meter pure wellness laten ondergaan.</b><br>
    <br>
    Natuurlijk is er niets mooier dan te blijven zitten in de auto, als onze soft-touch borstels uw auto schoonstrelen. U hoeft niets te doen, misschien een relaxed muziekje erbij luisteren en achterover hangen? Een mooi rustmomentje voor de vermoeide bestuurder... <br><br>Of hoort u tot de autobezitters die graag van buiten toekijken hoe uw kostbare bezit door ons vertroeteld wordt, om aan het eind van die weldadige 50 meter vreugdevol uw heilige koe weer in ontvangst te nemen? Alles kan.
    <br>
    Wij kunnen met onze soft-touch textielborstels alle voertuigen wassen, van personenauto, bestelauto tot bus, maar wel met een maximale hoogte van 220 cm. Verder spreken we hier af dat we nooit naast de auto praten over zogeheten “Roll-over borstel machines”, die we kennen van andere wasstraten.<br> Auto’s raken daarvan overstuur namelijk, vanwege de slechte schoonmaakresultaten en de partij krassen die in de lak ontstaan. Ssst.
    <br>
    Wie langer plezier wil hebben van het goede wasresultaat, adviseren wij om eens te kijken naar onze speciale siervelgen behandeling of bodemconservering. Een goede voorbereiding voor de wintermaanden! Zo wordt uw auto maximaal beschermd tegen de invloeden van strooizout.
    <br><br>


    <b>Afwijkend voertuig? We zien u er graag mee komen.</b>
    <br><br>
    Als autoliefhebbers onder elkaar zien we graag uw pick-up, terreinwagen of verhoogd/verlengd busje bij ons in de Wasdas. Er meteen mee door de wasstraat rijden gaat niet, u dient zich dan even te melden bij het personeel. We helpen u dan met al onze expertise om het maximale resultaat te behalen, op een manier die niet schadelijk is voor uw voertuig en onze wasstraat. Kortom: voelt u zich van harte welkom met uw afwijkende voertuig.

  </div>
  </div>

  <div class="col-lg-4 height">
    <div class="boxContent">
      <div class="panel panel-default red">
        <div class="panel-heading">
          <div class="panel-title tekst">Altijd voordelig wassen?</div>
        </div>
          <img class="displayfoto" src="images/2.jpg">
      </div>
    </div>

    <div class="boxContent">
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="panel-title tekst">Laad hier uw passaldo op</div>
        </div>
        <div class="panel-body waspas">
          <form style="width: 80%; height:auto; margin-left: 2%; margin-top: 1%;">
            <div class="form-group">
              <input class="teksttwo" type="email" placeholder="E-mailadres" class="form-control" id="email">
            </div>
            <div class="form-group">
              <input class="teksttwo" type="password" placeholder="Wachtwoord" class="form-control" id="pwd">
            </div>
            <button type="submit" class="btn btn-default buttontekst"><b>LOG IN</b></button>
          </form>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- EINDE CONTENT -->

<!-- BEGIN 3 BOXEN -->

<div class="col-lg-12">
  <div class="row fixen">
      <div id="panelFixed"><div class="col-md-4">
          <div class="panel panel-default lijn">
              <div class="panel-heading">
                  <h3 class="tekst"><center>PRIJZEN</center></h3>
              </div>
              <div class="panel-body1 lijn"></div>
              <img class="displayfoto" src="images/was1.jpg">
          </div>
      </div>
      <div class="col-md-4">
          <div class="panel panel-default lijn">
              <div class="panel-heading ">
                  <h3 class="tekst"><center>DOEKAUTOMAAT</center></h3>
              </div>
              <div class="panel-body2 lijn"></div>
              <img class="displayfoto" src="images/was2.jpg">
          </div>
      </div>
      <div class="col-md-4">
          <div class="panel panel-default lijn">
              <div class="panel-heading">
                  <h3 class="tekst"><center>STOFZUIGEN</center></h3>
              </div>
              <div class="panel-body3 lijn"></div>
              <img class="displayfoto" src="images/was3.jpg">
          </div>
      </div>
    </div>

<div class="col-md-12">
    <div class="footer">

      <div class="footer-logo">
        <img src="images/logowasdas.svg">
      </div>

      <div class="wasdas-adres">
        De Wasdas Veendam BV <br>
        Transportweg 80-82 <br>
        9645 KX Veendam <br><br>
        Tel:0598 621648 <br>
        Tel:0598 621646

      </div>

    </div>
</div>
